<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Ion.RangeSlider -->
    <link href="/isard-admin/vendors/normalize-css/normalize.css" rel="stylesheet">
<!--
    <link href="/isard-admin/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/isard-admin/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
-->
        <!-- Switchery -->
    <link href="/isard-admin/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row">
   <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
         <div class="x_title">
          <h3><i class="fa fa-{{icon}}"></i> Deployments <small>Desktops created to other users</small></h3>
                <ul class="nav navbar-right panel_toolbox">
                  <li><a class="btn-add-desktop"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Create deployment</span></a>
               </ul>
                <div class="clearfix"></div>
         </div>
         <div class="x_content">
            <div id="deployments" class="row">
               <label class="control-label col-md-1 col-sm-1 col-xs-12 pull-left" for="deployments_list">
                  <h4>
                     Deployments:
                  </h4>
               </label>
               <div class="col-md-2 col-sm-2 col-xs-12" style="margin-bottom: 20px;">
                  <select class="form-control" id="deployments_list" name="deployments_list">
                  </select>
               </div>
               <div class="col-md-9 col-sm-9 col-xs-12" style="margin-bottom: 20px;">
                  <a class="btn-recreate-deployment btn btn-success"><i class="fa fa-repeat" aria-hidden="true"></i> Recreate deployment</a>
                  <a class="btn-delete-deployment btn btn-danger"><i class="fa fa-remove"></i> Delete deployment</a>
               </div>
            </div>
            <hr>
            <div id="global_actions" class="row">
               <label class="control-label col-md-1 col-sm-1 col-xs-12 pull-left" for="mactions">
                  <h4>
                     Desktops:
                  </h4>
               </label>
               <div class="col-md-2 col-sm-2 col-xs-12" style="margin-bottom: 20px;">
                  <select class="form-control" id="mactions" name="mactions" >
                     <option value="none">Select action</option>
                     <option value="download_jumperurls">Download direct viewers CSV</option>
                     <option value="soft_toggle">Soft toggle started/shutting-down state</option>
                     <option value="toggle">Toggle started/stopped state</option>
                     <!-- <option value="stop_noviewer">Stop no viewers</option> -->
                     <option value="shutting_down">Soft shut down</option>
                     <option value="stopping">Shut down</option>
                     <option value="force_stopped">Force Stopped state</option>
                     <option value="force_failed">Force Failed state</option>
                     <option value="delete">Delete</option>
                     <option value="starting_paused">Start paused (check status)</option>
                     <option value="toggle_visible">Toggle visible to user (will stop desktops running)</option>
                  </select>
               </div>
            </div>
            <div id="tableDiv">
               <table id="domains" class="table">
                  <thead>
                     <tr>
                        <th></th>
                        <th>Icon</th>
                        <th>Deployment</th>
                        <th>Visible</th>
                        <th>Name</th>
                        <th>Action</th>
                        <th>Status</th>
                        <th>Kind</th>
                        <th>User</th>
                        <th>Category</th>
                        <th>Group</th>
                        <th>last access</th>
                     </tr>
                  </thead>
                  <tfoot>
                     <tr>
                        <th></th>
                        <th>Icon</th>
                        <th>Deployment</th>
                        <th>Visible</th>
                        <th>Name</th>
                        <th>Action</th>
                        <th>Status</th>
                        <th>Kind</th>
                        <th>User</th>
                        <th>Category</th>
                        <th>Group</th>
                        <th>last access</th>
                     </tr>
                  </tfoot>
                  <tbody>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   {% include '/admin/pages/domains_modals.html' %}
   {% include '/pages/desktops_modals.html' %}

	{% include '/pages/desktops_viewers.html' %}
	{% include '/pages/desktops_modals.html' %}
   {% include '/pages/deployment_desktops_detail.html' %}
   {% include '/snippets/alloweds_form.html' %}
</div>

{% endblock %}

{% block pagescript %}
   <!-- Fancytree -->
   <script src="/isard-admin/static/vendor/fancytree/src/jquery-ui-dependencies/jquery-ui.min.js"></script>

   <script src="/isard-admin/static/vendor/fancytree/dist/jquery.fancytree.min.js"></script>
   <script src="/isard-admin/static/vendor/fancytree/src/jquery.fancytree.table.js"></script>
   <!-- Ion.RangeSlider -->
    <script src="/isard-admin/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/isard-admin/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/isard-admin/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Allows datatables to fix a row at top -->
    <script src="/isard-admin/static/vendor/absolute.js"></script>

    <!-- Isard restful ajax calls -->
    <script src="/isard-admin/static/js/restful.js"></script>
    <!-- Spice viewer -->
    <script src="/isard-admin/static/js/viewer.js"></script> 
    <!-- Domains sse & hardware subtables -->
    
    <script src="/isard-admin/static/admin/js/domains_installs.js"></script>
    <script src="/isard-admin/static/js/snippets/desktop_add.js"></script> 
    <!--   
    <script src="/isard-admin/static/admin/js/domains.js"></script>
    -->
    <script src="/isard-admin/static/js/deployment_desktops.js"></script>
<!--
    <script src="/isard-admin/static/admin/js/domains_subtables.js"></script>
-->
{% endblock %}